name: Build+Upload MacOS Python Wheels
on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build_macos_wheels:
    name: Build macOS wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15-intel, macos-14]
        python_version: [ '3.6', '3.7', '3.8', '3.9', '3.10', '3.11', '3.13']
        exclude:
          - os: macos-14
            python_version: 3.6
          - os: macos-14
            python_version: 3.7
          - os: macos-14
            python_version: pypy3.7
    outputs:
      perform_pypi_upload: ${{ steps.perform_pypi_upload_check.outputs.perform_pypi_upload }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install dependencies
        run: |
          brew install suite-sparse openblas lapack gcc
      - name: Build Wheels
        env:
          LDFLAGS: "-L/opt/homebrew/lib -L/usr/local/lib -L/opt/homebrew/opt/openblas/lib"
          CPPFLAGS: "-I/opt/homebrew/include -I/usr/local/include"
          UMFPACK_INCLUDE: "/opt/homebrew/include/suitesparse:/usr/local/include/suitesparse:/opt/homebrew/include:/usr/local/include"
          UMFPACK_LIB: "/opt/homebrew/lib:/usr/local/lib:/opt/homebrew/opt/openblas/lib"
        run: |
          cd python/
          pip install wheel "setuptools<65.0" "numpy>=1.20,<2.0" scipy meson-python meson ninja
          python setup.py bdist_wheel
          ls dist/
          mv dist/ ../
          cd ../
      - name: Check If the Build Version Exists on PyPI
        id: perform_pypi_upload_check
        run: |
          bash $GITHUB_WORKSPACE/.github/check-pypi-upload.sh
      - name: Prepare Wheels for Upload
        uses: actions/upload-artifact@v4
        with:
          name: macos-wheels-${{ matrix.os }}-${{ matrix.python_version }}
          path: dist/

  upload_macos_x86_wheels:
    needs: build_macos_wheels
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'fangq' && needs.build_macos_wheels.outputs.perform_pypi_upload == 1 && github.event_name != 'pull_request'}}
    permissions:
      id-token: write
    steps:
      - name: Download Wheels from Build Job
        uses: actions/download-artifact@v4
        with:
          pattern: macos-wheels-macos-15-*
          merge-multiple: true
          path: dist/
      - name: Upload packages to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          verify_metadata: false
          verbose: true
          skip_existing: true

  upload_macos_arm64_wheels:
    needs: build_macos_wheels
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'fangq' && needs.build_macos_wheels.outputs.perform_pypi_upload == 1 && github.event_name != 'pull_request'}}
    permissions:
      id-token: write
    steps:
      - name: Download Wheels from Build Job
        uses: actions/download-artifact@v4
        with:
          pattern: macos-wheels-macos-14-*
          merge-multiple: true
          path: dist/
      - name: Upload packages to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          verify_metadata: false
          verbose: true
          skip_existing: true